/* ###### PROPERTY ORDERING: BOX, VISUAL, TEXT, MISC., LAYOUT ###### */

/* ###### PROPERTIES OF WEBSITE HEADER AND MAIN ELEMENTS ###### */
html {
  height: 100%;
  background: linear-gradient(
    150deg,
    rgb(55, 55, 55) 49.9%,
    rgb(45, 45, 45) 49.9%
  );
}

body {
  width: 95%;
  margin: auto;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-gap: 20px;
}

/*If the screen width is above 1000px, splits the main content display into two columns.*/
@media (min-width: 1200px) {
  main {
    grid-template-columns: 2fr 3fr;
  }

  .graph-format-grid {
    padding: 0px 60px;
  }
}

#header-title {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  font-size: 45px;

  text-align: center;
}

/* ###### PROPERTIES OF USER INPUT CONTAINER AND INTERNAL ELEMENTS */
#input-parameters-container {
  height: 650px;
  padding: 10px 0px;
  background-color: rgb(82, 187, 82);

  display: flex;
  flex-direction: column;
}

.input-box {
  flex: 1;
  margin: 10px 20px;
  border-radius: 20px;
  border-style: solid;
  background-color: rgb(152, 152, 152);

  display: flex;
  align-items: center;
}

.input-label {
  flex: 3;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 500;
}

#recurring-input {
  flex: 2;
  font-size: 24px;
}

#recurring-input-container {
  flex: 1;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.input-receiver {
  flex: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.numeric-input-form {
  height: 30px;
  background-color: rgb(235, 235, 235);
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 15px;

  text-align: center;
}

#calculation-elements {
  flex: 1;
  margin: 0px 20px 10px 20px;

  display: flex;
  flex-direction: column;
}

#calculate-button-container {
  flex: 3;
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-end;
}

#calculate-button {
  flex: 1;
  height: 100%;
  margin-right: 10px;
  padding: 0px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, sans-serif;

  text-align: left;
}

#final-value-display {
  flex: 2;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;

  display: flex;
}

#final-title {
  flex: 2;
  margin: auto 0px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;

  text-align: left;
}

#final-amount {
  flex: 3;
  margin: auto;
  padding-right: 40px;
  font-size: 20px;

  text-align: center;
}

#frequency-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.frequency {
  flex: 1;
  margin: 5px;
  font-size: 18px;
}

/* ###### PROPERTIES OF GRAPH CONTAINERS AND INTERNAL ELEMENTS ###### */
#graphs {
  height: 670px;

  display: flex;
  flex-direction: column;
}

/* Subdivides grid containers into title and graph display sections */
.graph-format-grid {
  flex: 1;
  margin: 5px 0px;
  border-radius: 20px;
  border-style: solid;
  background-color: rgb(235, 235, 235);

  /*Sets grid display property for container. Subdivides into 3 rows and 3 columns */
  display: grid;
  grid-template: 4fr 21fr 3fr / 1fr 25fr 2fr;
}

.graph-main-title {
  grid-area: 1/1/2/4;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

.graph-x-title {
  grid-area: 3/1/4/4;
  margin: auto;
  padding-bottom: 10px;
}

.graph-y-title {
  grid-area: 1/1/4/2;
  margin: auto;
}

.graph-display-grid {
  grid-area: 2/2/3/4;

  display: grid;
  grid-template: repeat(5, 2fr) 1fr / 1fr repeat(8, 3fr) 2fr;
}

.graph-axes {
  grid-area: 1/2/6/10;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}

/* Design and display of horizontal indicator lines */
.indicator-lines {
  border-bottom: 1px solid rgb(152, 152, 152);
  margin-left: 10px;
}

#indicator-1 {
  grid-area: 1/1/2/10;
}

#indicator-2 {
  grid-area: 2/1/3/10;
}

#indicator-3 {
  grid-area: 3/1/4/10;
}

#indicator-4 {
  grid-area: 4/1/5/10;
}

.graph-bar-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Defines grid containers for graph bars */
#bar-1-container {
  grid-area: 1/2/6/3;
}

#bar-2-container {
  grid-area: 1/3/6/4;
}

#bar-3-container {
  grid-area: 1/4/6/5;
}

#bar-4-container {
  grid-area: 1/5/6/6;
}

#bar-5-container {
  grid-area: 1/6/6/7;
}

#bar-6-container {
  grid-area: 1/7/6/8;
}

#bar-7-container {
  grid-area: 1/8/6/9;
}

#bar-8-container {
  grid-area: 1/9/6/10;
}

/* Styles graph bars for total investment graph and net contributions/interest graph */
.total-graph-bars,
.left-graph-bar,
.right-graph-bar {
  height: 0%;
  border-style: solid;
  border-width: 2px;
  transition: all 0.25s ease-in-out; /* Motion animation of the movement of the graph's bars */
}

.total-graph-bars {
  width: 40%;
  background-color: rgb(82, 187, 82);
  border-radius: 10px 10px 0px 0px;
}

.left-graph-bar {
  width: 20%;
  background-color: rgb(246, 249, 60);
  border-radius: 5px 5px 0px 0px;
}

.right-graph-bar {
  width: 20%;
  background-color: rgb(47, 139, 234);
  border-radius: 5px 5px 0px 0px;
}

/* Defines grid containers for graph bars */
.x-value-1 {
  grid-area: 6/2/7/3;
}

.x-value-2 {
  grid-area: 6/3/7/4;
}

.x-value-3 {
  grid-area: 6/4/7/5;
}

.x-value-4 {
  grid-area: 6/5/7/6;
}

.x-value-5 {
  grid-area: 6/6/7/7;
}

.x-value-6 {
  grid-area: 6/7/7/8;
}

.x-value-7 {
  grid-area: 6/8/7/9;
}

.x-value-8 {
  grid-area: 6/9/7/10;
}

.y-value-1 {
  grid-area: 5/1/6/2;
}

.y-value-2 {
  grid-area: 4/1/5/2;
}

.y-value-3 {
  grid-area: 3/1/4/2;
}

.y-value-4 {
  grid-area: 2/1/3/2;
}

.y-value-5 {
  grid-area: 1/1/2/2;
}

/* Styles graph bars for total investment graph and net contributions/interest graph */
.x-axis-values {
  margin: auto;
  font-size: 15px;
}

.y-axis-values {
  padding-right: 2px;
  font-size: 10px;

  text-align: right;
}
